* {
  margin: 0px;
  box-sizing: border-box;
}

.section1 {
  background-color: #ff6963;
  height: 200px;
}

.section2 {
  height: 300px;
  background-color: #ff9c99;
  background-image: url(https://s1.eestatic.com/2016/04/06/cocinillas/Cocinillas_115250122_116248453_1024x576.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.contenedor {
  background-color: rgba(255, 175, 128, 0.6);
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    height: 300px;
    padding-top: calc(150px - 0.5rem);
}

.contenedor h1{
  text-align: center;
  word-spacing: 20px;
  letter-spacing: 8px;
}

.section3 {
  height: 1000px;
  background-image: url(https://img.freepik.com/foto-gratis/textura-papel-arrugado_144627-17447.jpg?size=626&ext=jpg);
}
