* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.section1 {
  height: 200px;
  width: 200px;
  background-color: salmon;
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: thistle;
}

.section2 {
  height: 200px;
  width: 200px;
  background-color: steelblue;
  border-bottom: 10px rgb(89, 121, 156) solid;
}

.section3 {
    background-color: lightgrey;
    border-left: 5px lightskyblue solid;
    width: 600px;
    padding: 15px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

.section3 p:nth-child(3){
    text-align: right;
    color: #888;
}

.section4 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
    background-color: mediumpurple;
    border-radius: 100px;
}

.section5 {
    width: 200px;
    height: 200px;
    background-color: mediumvioletred;
    border-radius: 50%;
}
