*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.section1{
    height: 200px;
    width: 200px;
    background-color: salmon;
    padding: 20px;
    border-width: 1px;
    border-color: slateblue;
    border-style: solid;
}

.section2{
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: turquoise;
    border-bottom: 5px solid deeppink;
}

.section3{
    background-color: #a9abff;
    border-left: 10px lightgreen;
    margin-top: 10px;
    width: 400px;
    padding: 15px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.section4{
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    background-color: #a9abff;
    border-radius: 100px;
}