*{
margin:0;
box-sizing:border-box;
padding: 0;
}

body{
    background-color: crimson;
}


/* ¿COMO SE LEE? */
/* PARA TODAS LAS PANTALLAS DE DISPOSITIVOS
QUE TENGAN COMO MÁXIMO UN ANCHO DE 1024PX */
@media screen and (max-width: 1024px){
    body{
        background-color: #777;
    }
}

@media screen and (max-width: 768px){
    body{
        background-color: darkblue;
    }
}

@media screen and (max-width: 480px){
    body{
        background-color: cornflowerblue;
    }
}