* {
  margin: 0px;
  box-sizing: border-box;
}

.section1 {
  height: 200px;
  width: 200px;
  border: 1px solid tomato;
  background: -webkit-linear-gradient(top, #ff4f8d, #ffb36b);
}

html,
body {
  height: 100%;
}

body {
  background: #d9a7c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top right,
    #fffcdc,
    #d9a7c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top right,
    #fffcdc,
    #d9a7c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
  height: 200px;
  width: 200px;
  background: -webkit-radial-gradient(center, ellipse, #ff4f8d, #ffb36b);
}
