*{
margin:0;
box-sizing:border-box
}

.section1 {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: #bbb 0px 0px 20px;
    margin: 50px auto 0px auto;
    transition: all 0.5s ease-in;
    overflow: hidden;
}

.section1:hover{
    border-radius: 0px;
}

.cuadrado {
    height: 100px;
    /* width: 50px; */
    width: 100px;
    background-color: aquamarine;
    transition: all 2s ease-out;
}

/* CUANDO SE ESTE HACIENDO HOVER EN EL .section1 ,
EL ELEMENTO INTERNO QUE LLEVA LA CLASE .cuadrado
SUFRIRÁ LOS CAMBIOS */
.section1:hover .cuadrado{
    /* width: 100%; */
    border-radius: 50%;
    margin: 0 0 0 200px;
}

.section2 {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    box-shadow: #bbb 0px 0px 20px;
    margin: 50px auto 0px auto;
    overflow: hidden;
    transition: all 1.2s ease-out;
}

.section2:hover {
    box-shadow: deeppink 0px 0px 20px;
}

.persiana {
    background-color: deeppink;
    height: 0px;
    transition: all 3s ease-out;
    box-shadow: deeppink 0px 3px 0px;
}

/* CUANDO SE HAGA HOVER EN SECTION2 PERSIANA CMABIA CON EL ESTILO */
.section2:hover .persiana{
    height: 500px;
    box-shadow: deeppink 0px 3px 20px;
}