* {
  margin: 0;
  box-sizing: border-box;
}

.section1 {
  height: 500px;
  width: 500px;
  border-radius: 20px;
  box-shadow: #bbb 0px 0px 20px;
  margin: 50px auto 0px auto;
  text-align: center;
}

.boton1 {
  margin-top: calc(250px - 20px);
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
  background: -webkit-linear-gradient(top, #ff4f8d, #ffb36b);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  animation: animarboton 2s ease-out 0s infinite normal none;
}

/* CREANDO UNA ANIMACION INDEPENDIENTES */
@keyframes animarboton{
  0% {
    padding: 10px 15px;
  }
  50% {
    padding: 10px 50px;
    transform: scale(1.2);
  }
  
  100% {
    padding: 10px 15px;
  }
}
